localhost:8888 {
  log stdout
	tls off

  # cors
	cors / {
		origin *
		methods GET,POST,OPTIONS
		allowed_headers DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range
		exposed_headers DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range
	}

  # busy
  proxy / localhost:3000 {
    websocket
  }

	# blockchain
	proxy /ws localhost:8090 {
	  #fail_timeout 1m
	  timeout 30s
		without /ws
		websocket
	}
}
